<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>znypt</display-name>
  
  <!-- 串口写数据 -->
 <servlet>
      <servlet-name>ComTxServlet</servlet-name>
      <servlet-class>gaogaoyanjiu.com.servlet.ComTxServlet</servlet-class>
  </servlet>
 <servlet-mapping>
      	<servlet-name>ComTxServlet</servlet-name>   
      	<url-pattern>/comTxServlet</url-pattern>
 </servlet-mapping>
 
  <!-- 串口读取数据 -->
 <servlet>
      <servlet-name>ComRxServlet</servlet-name>
      <servlet-class>gaogaoyanjiu.com.servlet.ComRxServlet</servlet-class>
  </servlet>
 <servlet-mapping>
      	<servlet-name>ComRxServlet</servlet-name>   
      	<url-pattern>/comRxServlet</url-pattern>
 </servlet-mapping>
 
 
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
</web-app>