*{font-size:12px; font-family:"微软雅黑",Arial, Helvetica, sans-serif}
.Menu ul{list-style:none; width:400px ;  padding-left:0px; padding-top:20px ; padding-bottom:15px ; margin:0px; text-align:center}
.Menu li{float:left; text-align:center; list-style:none ;  }
body{ background-color:#F0F2F5 ;}
.MainContainer{ padding-left:50px;  width:1600px }
.Container{ padding-left:10px; padding-top:50px; float:left;background-color:#F0F2F5  }
.Container.Left{ width:400px;   }
.Container.Middle{ width:600px}
.Container.Right{ width:440px;}
.ItemTitle{text-align:left ;  margin-bottom:15px}
.ItemTitle span{font-size:30px }


.CodeInfoContainer {  background-color:#E3E7ED; padding-left:20px ; padding-right:20px ; padding-top:0px; height:553px}

.CodeSampleContainer{ height:500px;clear:both; }


.OCXContain{ width:600px; height:553px; }

.syntaxhighlighter { height:480px }

/* 半透明的遮罩层 */
.overlay {
    background: #FFF;
    filter: alpha(opacity=100); /* IE的透明度 */
    opacity: 1;  /* 透明度 */
    display: none;
    position: absolute;
  /*  top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;*/
    top:110px;
    left: 478px;
    width: 600px;
    height: 553px;
    z-index: 1000; /* 此处的图层要大于页面 */
    display:block;
    
}

.overlay img  
{
     position: relative;
     top: 50%;
     left:50%;
     margin-left:-30px;
     margin-top:-8px;
 }


/*控制区*/
.scon{ width:440px; height:580px; background-color:#ffffff;}
.guide{ width:380px; line-height:40px; border-bottom:solid 1px #CCCCCC; font-family:黑体; color:#999; margin-left:30px;}
.id{ width:380px; overflow:hidden; margin-left:30px;}
.L{ float:left; width:60%; height:140px; padding:10px 0px;}
.LTDD{ line-height:40px; color:#333; width:60px}
.LTD{ line-height:40px; color:#999; width:160px}
.R{ float:right; width:40%; height:140px; position:relative;}
.camera{ width:51px; height:63px; position:absolute; top:20px; left:80px;}
.switch{ width:51px; height:26px; position:absolute; top:90px; left:80px;}
.area{ width:380px; height:320px; background-color:#f6f7f9;  position:relative; margin-left:30px; }
.yuA{ position:absolute; top:18px; left:24px; z-index:999}
.yuB{ position:absolute; top:18px; right:24px;  z-index:999}
.dir{ position:absolute; top:30px; left:66px; z-index:1000}
.UP{ position:absolute; top:30px; left:99px; z-index:100}
.DOWN{ position:absolute; bottom:36px; left:97px; z-index:100}
.LEFT{ position:absolute; top:64px; left:64px; z-index:100}
.RIGHT{ position:absolute; top:67px; right:65px; z-index:100}
.yunCycle{ position:absolute; top:36px; right:71px; z-index:100}



.samllp{ position:absolute; bottom:10px; left:-10px; }
.bigp{ position:absolute; bottom:10px; right:-10px;}
.buttom{ position:absolute; bottom:28px; left:46px; }
.shape{ position:absolute; bottom:32px; left:46px; width:290px; height:10px; border-radius:10px;}



/**:focus{outline:none;}*/